//Bootstrap-tema
$primary: #62B1D8;
$secondary: darken(#374D7B, 20);
$enable-rounded: true;
$bg-dark: #374D7B;
$dark: #1E2032;
$body-bg: darken(#1E2032, 4);
$body-color: rgb(240, 240, 247);
$red: rgb(243, 71, 125);
$yellow: rgb(235, 211, 76);
$green: rgb(43, 209, 107);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $red,
  "warning": $yellow,
  "success": $green
);

$colors: (
  "dark": $dark,
  "red": $red,
  "yellow": $yellow,
  "green": $green
);

@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Global font
* {
  font-family: 'Saira', sans-serif;
}

.dropdown-item:hover {
  background: darken(white, 10);
}

//Mjuk scroll
html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

//Style för bakgrunds-canvasen
#background {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100vh;
  height: 100vh;
  z-index: -2;
  background: none;
  margin: 0;
}

//Fulhack för fast navbar
.navbar {
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 2000;
}

body {
  overflow-x: hidden;
}

//Komponent-styles
intro-video {
  display: flex;
  z-index: 3;
  width: 100vw;
  height: 1000px;
}

about-me, my-portfolio {
  z-index: 2000;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#about {
  max-width: 450px;
}

fade-out{
  z-index: 2000;
  display: block;
  width: 100vw;
  height: 150vh;
  background: linear-gradient(0deg, $dark, transparent 50%, transparent 50% 100%);
}

scroll-prompt, skip-intro {
  z-index: 1500;
  position: fixed;
  bottom: 60px;
  width: 200px;
  text-align: center;
}
scroll-prompt {
  left: 50%;
  transform: translate(-50%, 0);
}

skip-intro {
  right: 100px;
}

text-intro {
  display: flex;
  align-items: center;
  background: $dark;
  height: 100vh;
}


//Flyttar runt skip-introknappen på mobiltelefoner
@media only screen and (max-width: 980px) {
  skip-intro {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 15px;
  }
}

//Slå på dessa för att verifiera '1.4.12 Text Spacing'
/** {
  line-height: 1.5rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
}*/