/*#D12B5F
#62B1D8
#1E2032
#D1B2C9
#374D7B*/
$a: #D12B5F;
$b: #62B1D8;
$c: #1E2032;          
$d: #D1B2C9;
$e: #374D7B;

$primary: #62B1D8;
$secondary: darken(#374D7B, 20);
$enable-rounded: true;
$bg-dark: #374D7B;
$dark: #1E2032;
$body-bg: darken(#1E2032, 4);
$body-color: rgb(240, 240, 247);
$red: rgb(243, 71, 125);
$yellow: rgb(235, 211, 76);
$green: rgb(43, 209, 107);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $red,
  "warning": $yellow,
  "success": $green
);

$colors: (
  "dark": $dark,
  "red": $red,
  "yellow": $yellow,
  "green": $green
);

@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  font-family: 'Saira', sans-serif;
}

.container {
  //max-width: 600px;
}

.btn-danger {
  background: $a;
}

.dropdown-item:hover {
  background: lighten($dark, 10);
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

#background {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100vh;
  //width: calc(100vh / 9 * 16);
  height: 100vh;
  z-index: -2;
  background: none;
  margin: 0;
}

.navbar {
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 2000;
}

#intro {
  display: inline-flex;
  font-size: 10em;
}

body {
  overflow-x: hidden;
}

intro-video {
  display: flex;
  z-index: 3;
  width: 100vw;
  height: 3000px;
}

about-me, my-portfolio {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#about {
  max-width: 450px;
}

fade-out{
  display: block;
  width: 100vw;
  height: 150vh;
  background: linear-gradient(0deg, $dark, transparent 50%, transparent 50% 100%);
}


//Slå på dessa för att verifiera '1.4.12 Text Spacing'
/** {
  line-height: 1.5rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
}*/