<div class='container-fluid w-100 justify-items-center py-5'>
    <div class="row w-100">

        <!--Bild av mig-->
        <div class="col-lg-9 col-md-12 mb-3">
            <img src='img/me_color.jpg' alt='Picture of me' title='Picture of me' class="w-100">
        </div>

        <div class="col-lg-3 col-md-12 align-content-space-around">
            <div class="row">

                <!--Personlig beskrivning-->
                <div class="col-lg-12 col-md-6 w-100">
                    <h1 id="about-title">$about-title</h1>
                    <p class='text-danger' id="about">$about-text</p>
                </div>

                <!--Kontaktinfo-->
                <div class="col-lg-12 col-md-6 w-100">
                    <h1>$contact-title</h1>
                    <p class='text-danger'><i class="fas fa-envelope" title="Email"></i> fabian.k.johansson@gmail.com
                    </p>
                    <p class='text-danger'><i class="fas fa-phone" title="Phone"></i></i> +46 73 817 62 73</p>
                    <button type="button" onclick="window.location.href='http://www.linkedin.com/in/fabian-johansson-23401b127/'" class="btn btn-outline-danger btn-lg mr-3"><i
                            class="fab fa-linkedin"></i> LinkedIn</button>
                    <button type="button" onclick="window.location.href='http://www.github.com/faboosh'" class="btn btn-outline-danger btn-lg"><i
                            class="fab fa-github-square"></i> GitHub</button>
                </div>
            </div>
        </div>
    </div>
</div>