<div class="mt-5"></div>


<div class='w-100 m-4'></div>
<div class='container w-100'>
    <div class="row w-100" style="width: 100vw">
        <div class="col">
            <img src='img/me.jpg' alt='' class='w-100 mt-2'>
        </div>
        <div class="col">
            <h1 class='my-2'>Om mig</h1>
            <p class='text-danger'> Jag är en kreativ person med stort datorintresse, som älskar att pusha tekniska
                gränser och
                experimenterera. <br>
                Jag trivs som bäst när jag både får designa och jobba med logisk problemlösning.</p>
        </div>
    </div>
</div>