<div class='container-fluid w-100 justify-items-center py-5'>
    <div class="row w-100">
        <div class="col-lg-9 col-md-12 mb-3">
            <img src='img/me_color.jpg' alt='' class="w-100">
        </div>

        <div class="col-lg-3 col-md-12 align-content-space-around">
            <div class="row">
                <div class="col-lg-12 col-md-6 w-100">
                    <h1 id="about-title">$about-title</h1>
                    <p class='text-danger' id="about">$about-text</p>
                </div>

                <div class="col-lg-12 col-md-6 w-100">
                    <h1>$contact-title</h1>
                    <p class='text-danger'><i class="fas fa-envelope" title="Email"></i> fabian.k.johansson@gmail.com</p>
                    <p class='text-danger'><i class="fas fa-phone" title="Phone"></i></i> +46 73 817 62 73</p>
                    <button type="button" href="#" class="btn btn-outline-danger btn-lg mr-3"><i class="fab fa-linkedin"></i> LinkedIn</button>
                    <button type="button" href="#" class="btn btn-outline-danger btn-lg"><i
                            class="fab fa-github-square"></i> GitHub</button>
                    <!--<div class="w-100 my-3"></div>
                                                    <a type="button" class="btn btn-outline-warning btn-lg btn-block">WARNING</a>
                                                    <div class="w-100 my-3"></div>
                                                    <a type="button" class="btn btn-outline-danger btn-lg btn-block">DANGER</a>-->
                </div>
            </div>
        </div>
    </div>
</div>