<intro-video>
    <canvas id="background"></canvas>
</intro-video>

<fade-out></fade-out>

<about-me class="bg-dark">
    <img src='img/me.jpg' alt='' class='w-100 mt-5 pt-5'>
    <div class='w-100 m-4'></div>
    <div class='container w-100 bg-dark'>
        <h1 class='my-2'>Om mig</h1>
        <p class='text-danger pb-5'> Jag är en kreativ person med stort datorintresse, som älskar att pusha tekniska gränser
            och
            experimenterera. <br>
            Jag trivs som bäst när jag både får designa och jobba med logisk problemlösning.</p>
    </div>
</about-me>

<contact-info class="bg-dark mt-n3">
    <div class='container w-100 bg-dark pb-5'>
        <div class="m-3 w-100"></div>
        <h1 class='my-2'>Kontaktinfo</h1>
        <p class='text-danger'><i class="fas fa-envelope"></i> fabian.k.johansson@gmail.com</p>
        <p class='text-danger'><i class="fas fa-phone"></i> +46 73 817 62 74</p>
        <div class="col-fluid">
            <button type="button" href="#" class="btn btn-outline-danger btn-lg mr-3"><i class="fab fa-linkedin"></i>
                LinkedIn</button>
            <button type="button" href="#" class="btn btn-outline-danger btn-lg mr-3"><i
                    class="fab fa-github-square"></i> GitHub</button>
            <!--<div class="w-100 my-3"></div>
        <a type="button" class="btn btn-outline-warning btn-lg btn-block">WARNING</a>
        <div class="w-100 my-3"></div>
        <a type="button" class="btn btn-outline-danger btn-lg btn-block">DANGER</a>-->
        </div>
    </div>
</contact-info>