<div class="container-fluid">
    <h1 id="portfolio-title">Portfolio</h1>
    <div class="row">
        <div class="col-lg-9 col-md-12">

            <!--Karusell med projekt-->
            <div id="portfolio-carousel" class="carousel slide" data-ride="carousel" id="projects">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <video class="d-block w-100" src="img/projects/RETROQUIZ.mp4" autoplay loop controls title="Demo video of RETROQUIZ being played"></video>
                    </div>
                    <div class="carousel-item">
                            <video class="d-block w-100" src="img/projects/crm.mp4" autoplay loop controls title="Demo video Cloud Studio"></video>
                    </div>
                    <div class="carousel-item">
                        <video class="d-block w-100" src="img/projects/portfolio.mp4" autoplay loop controls title="Demo video of my portfolio"></video>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#portfolio-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#portfolio-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!--Info om varje projekt-->
        <div class="col-lg-3 col-md-12">           
            <h2 id="project-title">Project Title</h2>
            <h4 id="project-h4">Project Title</h4>
            <p class="text-danger" id="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum officia cumque error quidem? Aspernatur vel accusamus hic maxime nam natus laudantium, a corrupti magnam tempora, aut tempore recusandae sequi exercitationem!</p>
        </div>
    </div>
</div>